<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
<div class="container">
  <div class="components">
    <h1 class="register_text">Login</h1>
    <form class="form" action="/login" method="post">
      <label for="username">Username</label><br>
      <input type="text" class="form__input" placeholder="Username" id="userame" name="username"><br>
      <label for="password">Password</label><br>
      <input type="password" class="form__input" placeholder="Password" id="password" name="password"><br>
      <input type="submit" class="btn btn__primary" value="Login">
      <div class="demo-text">
      <h2>For Demo Use</h2>
      <p>Username:-admin</p>
      <p>Password:-Admin@123</p>
      </div>
      
    </form>
    
  </div>
</div>
</body>
</html>